body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

h1 {
	padding: 0.75rem;
}

table {
	border-collapse: collapse;
}

th {
	color: #FFF;
	text-align: start;
}

.table {
	width: 100%;
	margin-bottom: 1rem;
	color: #212529;
}

.bg-info {
	background-color: #17a2b8 !important;
}

.table td, .table th {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.table tbody+tbody {
	border-top: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0,0,0,.05);
}

